<div class="container">
  <app-promobar></app-promobar>
</div>
<div class="site-section">
  <app-servicetiles  name='what we offer' subtitle="subtitle here" tilecount="3"></app-servicetiles>
</div>
<div class="site-section block-13">
  <app-tileslider></app-tileslider>
</div>
<app-videobar bgpath="images/img_1.jpg" videopath="https://vimeo.com/channels/staffpicks/93951774"></app-videobar>
<div class="site-section border-bottom">
  <app-testimonials></app-testimonials>
</div>
<div class="site-section border-top">
  <app-contactbar></app-contactbar>
</div>